<!--Header-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Food Hook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/logo.png">
    <script type="text/javascript" src="/js/form.js"></script> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>