<!--Site Header for the dashboard-->
<header> 
    <!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('/images/dashboardimage2.jpg');">
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">        
         <a href="/"> <img src="/images/logo.png" alt="Site Logo" width="80"></a>
        </div>               
    </header> 
    <nav id="mainav" class="fl_right"> 
    <ul class="clear">   
      <li><a href="/">Home</a></li>    
      <li><a href="/addpage">Add Page</a></li>            
      <li><a href="/updatepage">Edit Pages</a></li>
      <li><a href="logout">Logout </a></li>
      <li class="message"><%=welcomeMessage%></li>                  
  </ul>
  </nav>
</div>    
<div class="centered">
  <h1 style="color: cornsilk;">Food Hook</h1><sub><i><h4 style="color: cornsilk;">...The finest flavors explored</h4></i></sub>
</div>         
</header> 