<!--Dashboard Page-->
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/siteheaderdashboard'); -%> 
    <main>
        <h2>Welcome Admin</h2>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi nullam vehicula ipsum a arcu cursus. 
            Vitae proin sagittis nisl rhoncus mattis. Lobortis mattis aliquam faucibus purus in massa. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. 
            Sit amet nulla facilisi morbi. Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Tempus iaculis urna id volutpat. 
            Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Elementum tempus egestas sed sed. Sollicitudin ac orci phasellus egestas tellus rutrum tellus. 
            Accumsan sit amet nulla facilisi morbi tempus. Nisl condimentum id venenatis a condimentum vitae. Quis auctor elit sed vulputate mi sit amet mauris commodo. 
            Mauris nunc congue nisi vitae suscipit tellus mauris. Et netus et malesuada fames ac turpis.
        </p>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi nullam vehicula ipsum a arcu cursus. 
            Vitae proin sagittis nisl rhoncus mattis. Lobortis mattis aliquam faucibus purus in massa. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. 
            Sit amet nulla facilisi morbi. Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Tempus iaculis urna id volutpat. 
            Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Elementum tempus egestas sed sed. Sollicitudin ac orci phasellus egestas tellus rutrum tellus. 
            Accumsan sit amet nulla facilisi morbi tempus. Nisl condimentum id venenatis a condimentum vitae. Quis auctor elit sed vulputate mi sit amet mauris commodo. 
            Mauris nunc congue nisi vitae suscipit tellus mauris. Et netus et malesuada fames ac turpis.
        </p>
    </main>
    <%- include('layouts/sitefooter'); -%>
</body>
<%- include('layouts/footer'); -%>