<!--Home Page-->
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/siteheaderhome'); -%>
    <main>
        <h2>About The Author</h2>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius magni itaque at omnis dolorum blanditiis, 
        facere veniam magnam vel eveniet expedita iusto, facilis amet labore autem aut nihil? Labore?Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Commodi magnam ipsa autem deserunt vitae labore aliquid nobis consequatur.
         Magni labore excepturi rerum sit illo deserunt fuga minus atque nostrum perferendis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
         Adipisci odio earum non molestiae architecto quo ad. 
         Vel aut qui tempore fugiat blanditiis dicta, 
         facilis error obcaecati voluptas, dolore illo reprehenderit!
    </p>
    <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eius magni itaque at omnis dolorum blanditiis, 
        facere veniam magnam vel eveniet expedita iusto, facilis amet labore autem aut nihil? Labore?Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Commodi magnam ipsa autem deserunt vitae labore aliquid nobis consequatur.
         Magni labore excepturi rerum sit illo deserunt fuga minus atque nostrum perferendis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
         Adipisci odio earum non molestiae architecto quo ad. 
         Vel aut qui tempore fugiat blanditiis dicta, 
         facilis error obcaecati voluptas, dolore illo reprehenderit!
    </p>
</main>
    <%- include('layouts/sitefooter'); -%>
</body>
<%- include('layouts/footer'); -%>